@use "sass:map";

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 8px;
    border: 1px solid var(--text-primary);
    border-radius: 8px;
    gap: 8px;
    overflow-y: auto;
}

.sent {
    margin-left: auto;
}
